.modal {
   background-color: #0000009d;
   display: none;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed;
   width: 100%;
}

.modal.active {
   display: block;
}

.modal-content {
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 1px 1px 30px rgb(49, 49, 49);
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin: 7rem auto;
   padding: 1rem ;
   min-width: 300px;
   width: 40%;
}

.modal-header {
   border-bottom: 1px solid #ccc;
   padding-bottom: 1rem;
}

.modal-footer {
   border-top: 1px solid #ccc;
   display: flex;
   justify-content: flex-end;
   padding-top: 1rem;
}